/* tudo🌍 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(172, 172, 172);
    font-family: 'Roboto', sans-serif;
}

h1, h4, h3, a {
    color:#19304F;
}

p, li {
    color: #222222;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* corpo👃 */
#curriculo {
    width: 50vw;
    height: 170vh;

    margin: auto;

    display: flex;
}

/* corpo - partes */
#informacao_primaria {
    height: 100%;
    width: 65%;
    background-color: #FFFFFF;

    position: relative;

}

#informacao_secundaria {
    height: 100%;
    width: 35%;
    background-color: #19304F;
}

/* corpo - header 🤯 */

#cabecalho {
    display: flex;
}

#cabecalho img[alt="Minha foto"] {
    border-radius: 50%;
    margin: 0 25px;
}

#cabecalho > img + div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cabecalho > img + div > h1 {
    margin-bottom: 6px;
}

/* corpo👣 */
article[class|="article"] > h3, p {
    margin: 11px;
    margin-bottom: 11px;
}


/* corpo - educação */
ul[class|="lista"] {
    margin-left: 40px;
    margin-bottom: 15px;
}

.lista-educacao > li:first-child {
    margin: 0;
}

.lista-educacao li:last-child {
    margin-bottom: 6px;
}

.curso-lista {
    padding-left: 20px;
    padding-top: 2px;
}

.curso-lista li {
    padding-top: 6px;
}

/* aside - contato */
.contato {
    margin-top: 19vh;
    margin-bottom: 7vh;
}

.contato h2, .conhecimento h2 {
    margin-bottom: 15px;
    font-weight: 200;
}

.icons {
    margin-left: 5px;
}

.icons img {
    width: 40px;
}

.white-text {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contato, .conhecimento {
    padding: 25px;
}

.skills {
    border-bottom: 2px solid white;
}

/* footer 🦵 */
footer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;

    height: 30px;
    width: 100%;
    background-color: #f0f0f0;
    color: #19304F;
}